 

input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
input[type="select"]
 {
    margin-top: 5px;
    font-size: 12px;
    padding: 5px 5px 5px;
    border: 1px solid rgb(75 85 99);
    border-radius: 6px;
    width: 100%;
    font-weight: 700;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    &:focus,
    &:active {
        border: 2px solid #16a34a;
        box-shadow: 0 0 0 3px rgba(22, 163, 74, 0.15);
    }
}

input.input-error {
     border: 2px solid #dc2626 !important;

    &:focus,
    &:active {
         border: 2px solid #dc2626 !important;
        box-shadow: 0 0 0 3px rgba(220, 38, 38, 0.15) !important;
    }
}

.input-fields {
    display: flex;
    flex-direction: column;
    color: black !important;

    label {
        color: --var(--text-color green) !important;
    }
} 


 