<div class="mat-table-wrapper">
    <div class="table-scroll">
        <table mat-table [dataSource]="dataSource" class="w-full">
            <ng-container matColumnDef="full_name">
                  <th mat-header-cell *matHeaderCellDef class="table-header ">
                    Name
                </th>
                <td mat-cell *matCellDef="let element"
                    class="table-cell col-equal">
                    <div class="flex items-center gap-3">
                      
                        <span class="font-medium text-black text-sm">{{
                            element.full_name }}</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="action" class="w-full">
                <th mat-header-cell *matHeaderCellDef class="table-header ">
                    Action
                </th>
                <td mat-cell *matCellDef="let element" class="table-cell">
                    <div class="flex items-center   ">
                        <button (click)="onEdit(element)"
                            class="action-btn action-btn-edit">
                            <span class="material-icons text-sm"> edit</span>
                            <span>edit</span>
                        </button>
                        <button
                            class="action-btn ">
                            <span class="material-icons text-sm">delete</span>
                            <span>delete</span>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="labels"></tr>
            <tr mat-row *matRowDef="let row; columns: labels;"></tr>
        </table>

        <div class="border-t">
            <mat-paginator
                [pageSizeOptions]="[5, 10, 25, 50, 100]"
                showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>