.table-wrap {
    background: var(--card);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    overflow: hidden;
    box-shadow: var(--shadow);

}

.tbl-toolbar {
    padding: 12px 16px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;

    border-color: inherit;

    tr {
        display: table-row;
        vertical-align: inherit;
        unicode-bidi: isolate;
        border-color: inherit;
    }

    th {
        padding: 10px 14px;
        text-align: left;
        font-size: 11px;
        font-weight: 700;

        background: #F1F8F1;
        border-bottom: 1px solid #DCE8DC;
        white-space: nowrap;
    }
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;

    tr {
        width:100%;
        transition: background-color .15s;

        &:nth-child(odd) {
            background-color: #FFFFFF;
        }

        &:nth-child(even) {
            background-color: #F8FBF8;
        }

        &:nth-child(odd):hover {
            background-color: #F1F8F1;
        }

        &:nth-child(even):hover {
            background-color: #E6F1E6;
        }
    }

    td {
        font-size: 12px !important;  
        line-height: 1.25rem !important ;

        padding: 4px 14px; 
        color: #1a3020;
        border-bottom: 1px solid #DCE8DC; 
        vertical-align: middle;
        display: table-cell;
        vertical-align: inherit;
        unicode-bidi: isolate;
    }
}
 

.tbl-foot {

    border-top: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: var(--muted);
}

.pagination {
    display: flex;
    gap: 4px;
}