<div class="flex flex-col lg:xl:2xl:flex-row w-full h-fit pb-24  gap-4">
    <div
        class="bg-white rounded-lg shadow-md border p-4  w-full   h-fit">

        <div class="mb-0.5">
            <h3 class="text-lg font-bold text-green">Employee's Information</h3>
        </div>
        <p class="text-sm  ">Personal
            Information</p>
        <div
            class="relative w-full flex flex-col lg:flex-col lg:justify-between gap-5 mt-3 ">
            <div
                class="grid gap-x-10 gap-y-4 md:grid-cols-2 lg:xl:2xl:grid-cols-3">
                <div class="input-fields ">
                    <label for="fname">First name</label>
                    <input name="fname" [(ngModel)]="fname" type="text"
                        (ngModelChange)="get_username()"
                        class="input-text uppercase">
                </div>
                <div class="input-fields  ">
                    <label for="mname">Middle name
                        <span
                            class="text-sm   ">
                            (Optional)
                        </span>
                    </label>
                    <input name="mname" [(ngModel)]="mname" type="text"
                        class="input-text uppercase">
                </div>
                <div class="input-fields ">
                    <label for="lname">Last name</label>
                    <input name="lname" [(ngModel)]="lname" type="text"
                        (ngModelChange)="get_username()"
                        class="input-text uppercase">
                </div>
                <div class="input-fields">
                    <label for="bdate">Birth date</label>
                    <div class="flex gap-2">
                        <div class="relative flex flex-col gap-1 flex-[2] ">
                            <span class="text-sm text-gray-400">Month</span>
                            <button [matMenuTriggerFor]="b_month"
                                class="relative flex items-center justify-start mt-1.5 text-sm p-1.5 border
                                 border-gray-600 rounded-md w-full font-bold shadow-sm  
                                hover:bg-opacity-90
                                ">
                                {{ month == null || month === '' ?
                                'Select Month' : month }}

                                <div class="absolute top-1 right-2">
                                    <mat-icon class="text-lg font-bold">
                                        keyboard_arrow_down
                                    </mat-icon>
                                </div>
                            </button>
                        </div>
                        <mat-menu #b_month="matMenu"
                            class="mat-menu w-72 transition-all class duration-150 mt-2 bg-white  text-gray-400 font-light"> 
                            <div class="h-fit w-full   border-gray-300" *ngFor="let i of months">
                                <button mat-menu-item (click)="select_month(i.month)"
                                    class="dropdown flex items-center  "> 
                                    <span
                                        class="text-black">{{i.month}}</span>
                                </button>
                            </div>
                        </mat-menu>
                        <div class="flex flex-col gap-1 flex-1">
                            <span class="text-sm text-gray-400">Day</span>
                            <input name="birth_day" [(ngModel)]="birth_day"
                                type="text" maxlength="2" placeholder="DD"
                                class="input-text" />
                        </div>
                        <div class="flex flex-col gap-1 flex-[1.5]">
                            <span class="text-sm text-gray-400">Year</span>
                            <input name="birth_year" [(ngModel)]="birth_year"
                                type="text" maxlength="4" placeholder="YYYY"
                                class="input-text" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <p class="text-sm   pt-3">Account
            Information</p>
        <div
            class="relative w-full flex flex-col lg:flex-col lg:justify-between gap-5 mt-3  ">
            <div
                class="grid gap-x-10 gap-y-4 md:grid-cols-2 lg:xl:2xl:grid-cols-3">

                <div class="input-fields ">
                    <label for="username">Username</label>
                    <input name="username" [(ngModel)]="username"
                        disabled type="text" class="input-text uppercase">
                </div>
                <div class="input-fields  ">
                    <label>Password</label>
                    <input type="password" disabled
                        class="input-text uppercase">
                </div>
            </div>
        </div>

        @if(!isMobile() ){
        <div class="w-full flex justify-end pt-10 pb-4 ">
            <button
                class="flex shadow-md items-center relative bg-green  gap-2  text-white  px-5 py-2   rounded-md transition-all  border border-gray-300 ">
                Save
            </button>
        </div>
        }

    </div>
    @if(isMobile() ){
    <div class="w-full flex justify-center  text-center">
        <button (click)="save()"
            class="flex w-full bg-green text-white  justify-center items-center relative  gap-2 text-center   px-4 py-2   rounded-md transition-all  border border-gray-300 ">
            Save
        </button>
    </div>
    }

</div>