.mat-banner .mat-icon {
    font-size: 28px;
    width: 28px;
    height: 28px;

    font-variation-settings: 'wght' 100;
}
 
 

.profile-avatar {
    width: 64px;
    height: 64px;
    background: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}